label {
    font-size: 22px;
}

.start-container, html, body, .start-row, .start-col {
    height: 100%;
}

.footer-container {
    height: 57px;
    margin-top: 25px;
}

.start-btn {
    font-size: 32px;
}

.question-heading {
    font-size: 26px;
    padding-top: 25px;
}

.jeff {
    max-width: 100%;
    max-height: 550px;
}

.question-container {
    background-color: #559B72;
    border-right: 10px solid whitesmoke;
    border-left: 10px solid whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #5E503F;
}

.start-container {
    background-color: #2B4C39;
    border: 15px solid whitesmoke;
    border-radius: 50px;
}

.sticky-top, footer {
    background-color: #327893;
}

.wardog{ 
    max-width: 100%;
    max-height: 531px;
    display: block;
}

.sticky-top {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    border-bottom: 10px solid whitesmoke;
}

footer {
    border-top: 10px solid whitesmoke;
}

.last-button {
    font-size: 22px;
}

.results-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*background-color: #2B4C39; */
    background-color: orange;
    border: 15px solid whitesmoke;
    border-radius: 50px;
    color: whitesmoke;
}